# ping urls, login url, account, password, time windows, frequency, selectors, browser path
URLS = ["https://www.baidu.com", "https://www.taobao.com", "https://www.jd.com", "https://www.1688.com", "https://www.58.com"]
LOGIN_URL = "http://192.168.254.25/"
NUMBER = "your_account"
PASSWORD = "your_password"
TIME_QUANTUMS = [{"start": "00:00", "end": "23:59", "allow": 1}]
FREQUENCY = 10
LOGIN_MESSAGE = {"number_input": "number", "password_input": "password", "login_button": "login"}
BROWER_PATH = "C:/Program Files/Google/Chrome/Application/chrome.exe"
